<%= form_for(@icon) do |f| %>
  <% if @icon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@icon.errors.count, "error") %> prohibited this icon from being saved:</h2>

      <ul>
      <% @icon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :class_name %> (ex. cw_aXXXXXXX)<br />
    <%= f.text_field :class_name %>
  </div>
  <div class="field">
    <%= f.label :icon_url %> (ex. http://www.gravatar.com/avatar/1ac0db1ea05c74a21a07549c285b0b0d) <br />
    <%= f.text_field :icon_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
